/* 공통 홈 */
/* 공통 추천음료 */
.ediya-recommend-container{
  background-color: #fff;
}

.ediya-recommend{
  background-color: #BAE5FB;
  text-align: center;
  color: #14182c
}

/* home 이디야 추천 메뉴 영문 텍스트 */
.ediya-recommend-text[lang="en"] {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0;
}

.ediya-recommend-text{
  margin-top:15px;
  margin-bottom: 0px;
}

/* home 이디야 추천 메뉴 영문 텍스트 내 강조 */
.ediya-recommend-text[lang="en"] em {
  /* display: block; */
  font-size: 31px;
  font-weight: 700;
  font-style: normal;
  color: #24388d;
}
/* home 이디야 추천 메뉴 영문 텍스트 아래 구분선 */
.ediya-recommend-text[lang="en"]::after {
  content: "";
  display: block;
  width: 40px;
  border-top: 1px solid #000;
  margin: 15px auto;
}

/* 모바일 홈 */
@media all and (max-width: 768px){
  /* 모바일 추천음료 */
  .ediya-recommend-container{
    padding-bottom: 165px;
  }

  .ediya-recommend{
    /*padding: 2.625em 0 1.25em;*/
    padding: 42px 0 20px;
  }
  
  .ediya-recommend-text .point-color{
    display: block;
  }

  .ediya-recommend-beverage:first-child{
    display: none;
  }
}

/* 데스크탑 홈 */
@media all and (min-width: 768px){
  /* 데스크탑 추천음료 */
  .ediya-recommend-container{
    padding-bottom: 260px;
  }

  .ediya-recommend{
    padding: 50px 0 32px;
  }

  .ediya-recommend-text{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}